* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box !important;
  font-family: 'Roboto Serif', serif;
  background-color: #000;
  color: #fff;
}
/*
font-family: "Roboto Serif", serif;
font-family: "Roboto", sans-serif; 
font-family: "frank", sans-serif;
*/
/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body{
  position: relative;
}
/*BTNS*/
.btn {
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  color: #211f1f;
  background: #ffdd1b;
  font-size: 1.7rem;
  border-radius: 5rem;
  padding: 1.5rem 3rem;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transform: scale(0.97);
}
.btn:active {
  filter: brightness(0.93);
  transform: scale(0.95);
}
.music-box{
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100;
}
.music-box img{
  width: 1rem;
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(601%) hue-rotate(163deg) brightness(124%) contrast(100%);  ;
}
.music-box button:hover{
  cursor: pointer;
}
.music-box button.active{
  display: flex;
}
.music-box button{
  display: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #fff;
  border-radius: 100%;
}
/*END BTNS*/
/*SWIPER*/

.swiper-global {
  display: grid;
  grid-template-columns: 7rem calc(100% - 14rem) 7rem;
  align-items: center;
}
.swiper {
  width: 100%;
  grid-column: 2/3;
}
.swiper-global .button-prev img {
  animation: buttonPrev 1s ease-in-out infinite;
}
.swiper-global .button-next img {
  transform: rotate(180deg);
  animation: buttonNext 1s ease-in-out infinite;
}
.swiper-global .button-next img,
.swiper-global .button-prev img {
  width: 4rem;
  margin: 1.5rem;
}
.swiper-global .button-next:hover,
.swiper-global .button-prev:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .swiper-global {
    grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  }
  .swiper-global .button-next img,
  .swiper-global .button-prev img {
    width: 3rem;
    margin: 0.5rem;
  }
}
/*END SWIPER*/
.text-big {
  font-family: 'Roboto Serif', serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2;
}
.text-normal {
  font-family: 'Roboto Serif', serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
}
.text-normal span {
  font-weight: 600;
}
.title {
  font-family: 'Roboto Serif', serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.title span {
  color: #ffdd1b;
}
.subtitle {
  font-family: 'Roboto Serif', serif;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.division {
  width: 100%;
  height: 3rem;
  background-image: url(../img/divisor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 100%;
}
section {
  padding: 5rem 0;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .btn {
    padding: 1rem 3rem;
  }
  .division {
    height: 2rem;
  }
  section {
    padding: 3rem 0;
  }
}
@media (max-width: 400px) {
  .division {
    height: 1rem;
  }
}
