/*header*/
header nav{
  padding: 4rem 0;
  position: relative;
}
header nav ul {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
header nav li a {
  font-family: "Roboto Serif", serif;
  font-size: 1.5rem;
  color: #fff;
}
header nav li a:hover {
  filter: brightness(0.95);
  transform: scale(0.97);
}
header .btn-mobile-menu {
  display: none;
}
/*end header*/
@media (max-width: 768px) {
  /*header*/
  header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header .btn-mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  header .btn-mobile-menu div{
    height: 0.2rem;
    width: 3.5rem;
    background-color: #fff;
    transition: 0.5s ease-in-out ;
  }
  header .btn-mobile-menu.active div:nth-child(1){
    transform: translateY(1.2rem) rotate(45deg);
    background: #ffdc1a;
  }
  header .btn-mobile-menu.active div:nth-child(2){
    transform: scale(0);
  }
  header .btn-mobile-menu.active div:nth-child(3){
    transform: translateY(-1.2rem) rotate(-45deg);
    background: #ffdc1a;
  }
  header .btn-mobile-menu.active img {
    filter: brightness(0.9);
    transform: scale(0.95);
  }

   header nav li a {
    text-align: center;
    color: #000;
  }
  header nav ul {
    display: block;
    position: absolute;
    top: 8rem;
    /* left: 50%; */
    height: 0;
    transition: 0.3s all ease-in-out;
    visibility: hidden;
    overflow: hidden;
    z-index: 99;
    background: #fff;
    padding: 3rem;
    height: auto;
    transform: scale(0);
    /* transform: scale(0) translateX(-50%); */
    transform-origin: top right;
  }
  header nav.active ul {
    visibility: visible;
    transform: scale(1) ;
    /* transform: scale(1) translateX(-50%); */
    transform-origin: top;
  }
  header nav li {
    padding: 1rem 2rem;
  }
  /*end header*/
}
