/*header*/
header nav {
  padding: 4rem 0;
  position: relative;
}
header nav ul {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
header nav li a {
  font-family: 'Roboto Serif', serif;
  font-size: 1.5rem;
  color: #fff;
}
header nav li a:hover {
  filter: brightness(0.95);
  transform: scale(0.97);
}
/*end header*/
@media (max-width: 768px) {
  /*header*/
  header nav {
    padding: 3rem 0;
  }
  header nav li a {
    text-align: center;
    font-size: 1.3rem;
  }
  /*end header*/
}
