.hero {
  padding: 5rem 0;
}
.hero .row {
  display: grid;
  grid-template-columns: 50% auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.hero .logo {
  font-family: 'frank';
  font-size: 12rem;
  line-height: 0.8;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffdc1a;
  margin-bottom: 1rem;
}
.hero .logo span {
  font-size: 8.3rem;
  color: #ffdc1a;
}
.hero .text-big {
  color: #ffdc1a;
  margin-bottom: 2rem;
}
.text-normal {
  color: #c7c7c7;
  margin-bottom: 2rem;
}
.hero .composition {
  width: 35rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero .composition .thorne {
  width: 100%;
}
