.history {
  padding: 5rem 0;
}
.history .row {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.history .col-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.history .col-image .text-big {
  text-align: center;
  color: #ffdc1a;
}
.history .composition {
  width: 35rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.history .composition .throne {
  width: 100%;
}
.history .text-normal {
  color: #c7c7c7;
}
@media (max-width: 768px) {
  .history .row {
    grid-template-columns: 100%;
  }
  .history .col-image{
    align-items: center;
    order: 2;
  }
}


@media (max-width: 576px){
  .history .composition {
    width: 25rem;
  }
}