.history .row {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.history .col-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.history .col-image .text-big {
  text-align: center;
  color: #ffdc1a;
}
.history .composition {
  width: 35rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.history .composition .throne {
  width: 100%;
  position: relative;
  z-index: 3;
}
.history .composition .circle {
  width: 120%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: -10%;
}
.history .composition .frog {
  width: 17rem;
  position: absolute;
  z-index: 5;
  top: 8.3rem;
  left: calc(50% - 8.5rem);
}
.history .text-normal {
  color: #c7c7c7;
}
@media (max-width: 768px) {
  .history .row {
    grid-template-columns: 100%;
  }
  .history .col-image {
    align-items: center;
    order: 2;
  }
}

@media (max-width: 576px) {
  .history .composition {
    width: 25rem;
  }
  .history .composition .frog {
    width: 11rem;
    top: 8.3rem;
    left: calc(50% - 5.5rem);
  }
}
