.supply {
  padding: 5rem 0;
}
.supply .title {
  text-align: center;
  margin-bottom: 5rem;
}
.supply .supplies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.supply .supplies .item {
  width: 20rem;
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: center;
  gap: 1rem;
}
.supply .supplies .item img {
  width: 100%;
}
